{% include "partials/header.html" %}
<div class="container">
  <!-- categories list -->
  {%if login_session['user_id']%}
  <div class="pt-3 pb-3">
    <a href="{{url_for('new_category')}}" class="btn btn-primary"><i class="fas fa-plus"></i> Add category</a>
  </div>
  {%endif%}
  {%for category in categories%}
  <div class="list-group pt-1">
    <a href="{{url_for('list_items',category_name = category.name)}}" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between pb-1">
         <h5 class="mb-1">{{category.name}}</h5>
      </div>
      <p class="mb-1">{{category.desc}}</p>
      
    </a>
    
  </div>
  {%endfor%}

</div>
{% include "partials/footer.html" %}