{% include "partials/header.html" %}
<div class="container">
<!-- items list -->
<div class="pt-3 pb-3">
{%if login_session['user_id']%}
    <a href="{{url_for('new_item',category_name = category.name)}}" class="btn btn-primary"><i class="fas fa-plus"> </i> Add item</a>
    {%if login_session['user_id'] == category.user_id%}
        <a href="{{url_for('edit_category',category_name = category.name)}}" class="btn btn-warning"><i class="far fa-edit"></i> Edit</a>
        <a href="{{url_for('delete_category',category_name = category.name)}}" class="btn btn-danger"><i class="far fa-trash-alt"></i> Delete</a>
    {%endif%}
  
{%endif%}
<a href="/categories" class="btn btn-primary"><i class="fas fa-arrow-left"></i>
  Back</a>
</div>
<div class="list-group pt-1">
  <h2>{{category.name}}</h2>
  
    {%for item in items%}
    <a href="{{url_for('show_item',category_name = category.name,item_name = item.name)}}" class="list-group-item list-group-item-action">{{item.name}}</a>
    {%endfor%}
  </div>


</div>
{% include "partials/footer.html" %}